<html>
    <head>
        <title>Convert My Money</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.js">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.min.js">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/additional-methods.js">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/additional-methods.min.js">
    </head>   
    <body>
        <h1><a href="/"><img src="/logo.jpg" alt="Convert my money" ></a></h1> 
